<div class="class">
    <h3>This is About US page</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ipsum necessitatibus eveniet provident dicta repudiandae omnis iure, beatae nobis, quis deserunt tenetur harum maiores officia architecto doloremque, temporibus rerum dolor!
Deleniti, quam eligendi eos, sint ut atque ipsa ullam nulla ad tempore modi unde, voluptate repudiandae libero iusto maiores tenetur quod rem asperiores quaerat vero itaque! Harum sed repellendus velit!
Fugiat illum laborum, numquam, dolor totam quia impedit quo praesentium similique, beatae sit hic accusamus. Ex aliquam ea quidem ipsum cupiditate sunt vel magnam ratione aut explicabo. Hic, corporis minus?</p>
</div>