<h3>
    This is Content US page
</h3>

<table border="1">
    <tr>
        <td>Enter your Name</td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td>Enter your Email ID</td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td>Enter your Phome Number</td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td>Enter your Registeration Number</td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td>Enter your Massage</td>
        <td><input type="text"></td>
    </tr>
      <tr>
        <td>
            <button>Send</button>
        </td>
        <td>
            <button>Cancel</button>
        </td>
      </tr>
</table>